# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS2013 stuff
*.opensdf
*.sdf
*.suo
*.obj
*.idb
*.pdb
*.log
*.lastbuildstate
*.tlog
*.ilk



*.ilk
traveling_sales_person/VS2013/TSP/build/Debug/TSP.ilk
traveling_sales_person/VS2013/TSP/build/Debug/TSP.pdb
*.log
traveling_sales_person/VS2013/TSP/TSP/Debug/TSP.tlog/link.read.1.tlog
