# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS2013 stuff
*.opensdf
*.sdf
*.suo
*.obj
*.idb
*.pdb
*.log
*.lastbuildstate
*.tlog
*.ilk
*.filters
*.user
*.ipch
*.opendb
teamsolver/team_solver/x64/Release/team_solver.ipdb
*.iobj
teamsolver/team_solver/Release/team_solver.ipdb
*.csv
teamsolver/team_solver/enc_temp_folder/ca16bb8a66f287c842d6bfad5641c/team.h
*.enc
teamsolver/team_solver/Release/team_solver.exe.lastcodeanalysissucceeded
*.xml
teamsolver/team_solver/data_output.txt
teamsolver/team_solver/enc_temp_folder/f3d8f8486abd7787c7329fe289fb1f7/team_solver.cpp
*.dep
solar_reader/PIC16F1783_adc.pre
*.pre
solar_reader/startup.as
*.hex
solar_reader/_buildoutput/funclist
*.p1
solar_reader/_buildoutput/solar_reader.as
*.cof
*.hxl
solar_reader/_buildoutput/solar_reader.lst
*.map
solar_reader/_buildoutput/solar_reader.rlf
*.sdb
solar_reader/_buildoutput/solar_reader.sym
*.as
solar_reader/_buildoutput/startup.lst
*.rlf