# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS2013 stuff
*.opensdf
*.sdf
*.suo
*.obj
*.idb
*.pdb
*.log
*.lastbuildstate
*.tlog
*.ilk
*.filters
*.user
*.ipch
*.opendb
teamsolver/team_solver/x64/Release/team_solver.ipdb
*.iobj
teamsolver/team_solver/Release/team_solver.ipdb
*.csv